<div *ngIf="authenticationService.user | async as user; else showLogin">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>気圧チェッカー</span>
      <span class="spacer"></span>
      <span>{{ user?.displayName }}</span>
      <button mat-flat-button color="primary" (click)="signOut()" *ngIf="user">ログアウト</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-form-field>
    <mat-label>地域</mat-label>
    <mat-select>
      <mat-option *ngFor="let pref of prefs" [value]="pref.value">
        {{ pref.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<ng-template #showLogin>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>気圧チェッカー</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="email" [type]="text" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="password" [type]="password" [(ngModel)]="password">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="signIn()">サインイン</button>
        <button mat-flat-button color="primary" (click)="signInGoogle()">Googleでサインイン</button>
      </mat-card-actions>
      <mat-card-footer>
        <button mat-button color="primary" (click)="signUp()">アカウント作成</button>
      </mat-card-footer>
    </mat-card>
  </div>
</ng-template>
